body{
    padding-top: 10vh;
}

.headers {
    text-align: center;
}

/* NAVBAR */
.navbar{
    display: inline-block! important;
}

/* SLIDER */
.carousel-item{
    height: 90vh;
}

.sliderBackground{
    width: 100%;
    height: 100%;
}

/* COLLECTIONS */
.collectionsContainer{
    padding: 3%;
    /* max-height: 100vh; */

}

.card-deck{
    padding: 3%;
}

/* FOOTER */
.footer {
    width: 100%;
    background-color: #F8F8F8;
    text-align: center;
    margin:0;
    padding: 5px;
    font-size: .8em;
}

#footerList{
    padding-left: 10%;
    padding-right: 10%;
}
